<?xml version="1.0"?>
<configuration>
  <appSettings>
    <TraceTag name="CircleEvents" value="False"/>
    <TraceTag name="SiteEvents" value="False"/>
    <TraceTag name="Assertion" value="True"/>
    <TraceTag name="GeneratorList" value="False"/>
    <TraceTag name="CCreate" value="False"/>
    <TraceTag name="InsertSite" value="False"/>
    <TraceTag name="NDelete" value="False"/>
    <TraceTag name="Search" value="False"/>
    <TraceTag name="Trees" value="False"/>
    <TraceTag name="PqPercolates" value="False"/>
    <TraceTag name="PqDeletes" value="False"/>
    <TraceTag name="PqInserts" value="False"/>
    <TraceTag name="FinalEdges" value="False"/>
    <TraceTag name="SaveGenerators" value="False"/>
    <TraceTag name="CircleDeletions" value="False"/>
    <TraceTag name="autosave" value="True"/>
    <TraceTag name="Beachline" value="False"/>
    <TraceTag name="PqValidate" value="False"/>
    <TraceTag name="PqTrees" value="False"/>
    <TraceTag name="WeValidate" value="True"/>
    <TraceTag name="ZeroLengthEdges" value="True"/>
    <TraceTagsEnum name="Computational Geometry:DAP.CompGeom.t" timestamps="False" threadId="False" tagName="False" severity="False" severityFilter="Verbose" listeners="Default"/>
    <TraceTagsEnum name="FortuneTest:FortuneTest.t" timestamps="False" threadId="False" tagName="False" severity="False" severityFilter="Verbose" listeners=""/>
    <TraceTagsEnum name="Computational Geometry:DAP.CompGeom.tv" timestamps="False" threadId="False" tagName="False" severity="False" severityFilter="Verbose" listeners="Default"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/></startup></configuration>
